{% extends "@Admin/Layout/adminlayout.html.twig" %}
{% block content %}
	<section class="content-header">
	<!-------- PAGE TITLE --------------->
		<h1>
		  Ratings Listing
		</h1>
	<!------- BREADCUMB --------------------->
		<ol class="breadcrumb">
		  <li><a href="{{path('admin_dashboard_index',{'domain':app.session.get('domain')})}}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
		</ol>
	</section>
	<section class="content">
		{% for flashMessage in app.session.flashbag.get('success_msg') %}
            <div class="alert alert-success alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error_msg') %}
            <div class="alert alert-danger alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
            </div>
        {% endfor %}
		
    <div class="row">
      <div class="col-md-12">
        <div class="box box-primary">
			<div class="box-header with-border">
				<h3 class="box-title">Ratings</h3>
				{%if product_id is defined and product_id != 0%}
					<a class="btn btn-primary pull-right" href="{{path('admin_product_index')}}">Back</a>
				{%endif%}
			</div>
          <div class="box-body table-responsive">
            <table id="list" class="table display table-striped table-bordered scroll-horizontal">
              <thead>
                <th>No</th>
				<th>Product Name</th>
				<th>User name</th>
				<th>Ratings</th>
				<th>Created On</th>
				<th>Operation</th>
              </thead>
              <tbody>
                {%if ratings is defined and ratings is not empty%}
					{%for ratings in ratings%}
						<tr>
							<td>{{loop.index}}</td>
							<td>
								{{ratings.product_name}}
							</td>
							<td>{{ratings.full_name}}</td>
							<td>{{ratings.ratings}}</td>
							<td>{{ratings.created_datetime | date('d-m-Y')}}</td>
							<td>
								<a href="{{path('admin_ratings_detelerating',{'ratings_id':ratings.product_rating_master_id})}}" class="btn btn-xs btn-danger" onclick="return confirm('Are you sure want to delete ? ')"><i class="fa fa-trash"></i></a>								
							</td>
						</tr>
					{%endfor%}
				{%endif%}
              </tbody>
              <tfoot>
               <th>No</th>
				<th>Product Name</th>
				<th>User name</th>
				<th>Ratings</th>
				<th>Created On</th>
				<th>Operation</th>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
	
		
	</section>
<!----------- PAGE HEADER : END ----------------------------------------------------------->
<!----------- Main content : START ----------------------------------------------------------->
	
{% endblock %}

{% block js %}
  <script>
    $(document).ready(function() {
      $('#list').DataTable();
    });
	
	$(document).ready(function(){

		$('[data-fancybox="gallery"]').fancybox({
			// Options will go here
		});
	
	});	
	
  </script>
{% endblock %}
