{% extends "@Admin/Layout/adminlayout.html.twig" %}
{% block content %}
	<section class="content-header">
	<!-------- PAGE TITLE --------------->
		<h1>
		  Contact Us
		  <small></small>
		</h1>
	<!------- BREADCUMB --------------------->
		<ol class="breadcrumb">
		  <li><a href="{{path('admin_dashboard_index',{'domain':app.session.get('domain')})}}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
		</ol>
	</section>
	<section class="content">
		{% for flashMessage in app.session.flashbag.get('success_msg') %}
            <div class="alert alert-success alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error_msg') %}
            <div class="alert alert-danger alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
            </div>
        {% endfor %}
		
		<div class="row">
			<div class="col-md-12">
				<div class="box box-primary">
					
					<!-- box header -->
					<div class="box-header with-border">
                        <h3 class="box-title">Contact Messages</h3>
                    </div>
					<!-- end: box header -->
					
					<div class="box-body">
						<table id="datatable" class="table display table-striped table-bordered scroll-horizontal">
							<thead>
								<th>No</th>
								<th>Name</th>
								<th>Subject</th>								
								<th>Email</th>								
								<th>Mobile No.</th>								
								<th>Message</th>								
								<th>Created On</th>								
								<th>Opertation</th>								
							</thead>
							<tbody>
								{% if contact_feedbacks is defined and contact_feedbacks is not empty %}
									{% for contact_feedbacks in contact_feedbacks %}
										<tr>
											<td>{{loop.index}}</td>
											<td>{{contact_feedbacks.name}}</td>											
											<td>{{contact_feedbacks.subject}}</td>											
											<td>{{contact_feedbacks.email_address}}</td>											
											<td>{{contact_feedbacks.phone_number}}</td>											
											<td>{{contact_feedbacks.message}}</td>											
											<td>{{contact_feedbacks.created_date | date('d-m-Y')}}</td>	
											<td>
												<a class="btn btn-xs btn-danger" onclick="return confirm('Are you sure want to delete ?');" href="{{path('admin_contactus_deletecontact',{'contact_id':contact_feedbacks.contact_us_feedback_id})}}" data-toggle="tooltip" data-title="Delete Contact"><i class="fa fa-trash"></i></a>
												
											</td>	
										</tr>
									{% endfor %}
								{% endif %}
							</tbody>
							<tfoot>
								<th>No</th>
								<th>Name</th>
								<th>Subject</th>								
								<th>Email</th>	
								<th>Mobile No.</th>								
								<th>Message</th>								
								<th>Created On</th>								
								<th>Opertation</th>								
							</tfoot>
						</table>
					</div>
					
				</div>
			</div>
		</div>		
	</section>
<!----------- PAGE HEADER : END ----------------------------------------------------------->
<!----------- Main content : START ----------------------------------------------------------->
	
{% endblock %}

{% block js %}
  <script>
    $(document).ready(function() {
      $('#datatable').DataTable();
    });
  </script>
{% endblock %}