{% extends "@Admin/Layout/adminlayout.html.twig" %}
{% block css%}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css">
{% endblock%}
{% block content %}
	<section class="content-header">
	<!-------- PAGE TITLE --------------->
		<h1>
			Add - Update Advertise / Offer
		</h1>
	<!------- BREADCUMB --------------------->
		<ol class="breadcrumb">
		  <li><a href="{{path('admin_dashboard_index',{'domain':app.session.get('domain')})}}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
		</ol>
	</section>
	<section class="content">
		{% for flashMessage in app.session.flashbag.get('success_msg') %}
            <div class="alert alert-success alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error_msg') %}
            <div class="alert alert-danger alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
            </div>
        {% endfor %}
		
		<div class="row">
			<div class="col-md-12">
				<div class="box box-primary">
					
					<!-- box header -->
					<div class="box-header with-border">
                        <h3 class="box-title">Add / Update Advertise</h3>
                        <a href="{{ path('admin_advertise_index', {'domain': app.session.get('domain')}) }}" class="btn btn-primary btn-flat pull-right">Back</a>						
                    </div>
					<!-- end: box header -->
					
												
					<div class="box-body">
					{% if language_list is defined  and language_list is not empty%}
						<div class="nav-tabs-custom">
                            <ul class="nav nav-tabs">
                                {% if language_list is defined %}
                                   {% for language in language_list %}
                                        <li class="{% if selected is defined %}{% if selected == language.language_master_id%}active{% endif %}{% else %}{% if loop.index == 1 %}active{% endif %}{% endif %}">
                                            <a href="#lan_{{loop.index}}" data-toggle="tab">{{language.language_name}}</a>
                                        </li>
                                    {% endfor %}
                                {% endif %}
                            </ul>
                        </div>
						
						<!-- tab-content -->
						<div class="tab-content">
							{% set main_advertise_id = 0 %}
							{% set start_date = '' %}
							{% set end_date = '' %}
							{% set status = '' %}
							{% set sort_order = 0 %}
							{% set advertise_name = '' %}
							{% set advertise_type = 'advertise' %}
							{% set image = '' %}
							{% set advertise_type_ar = ['advertise','offer'] %}
							
							{% for language in language_list %}
								<div role="tabpanel" class="tab-pane {% if loop.index == 1 %}active{% endif %}" id="lan_{{ language.language_master_id }}">
									
									{% set action = path('admin_advertise_saveadvertise') %}
									{% set advertise_name = '' %}
									{% set image = '' %}
									{% set advertisement_link = '' %}
									
									{% if ad_details is defined and ad_details is not empty %}
										
										{% for ad_details in ad_details %}
											{% set main_advertise_id = ad_details.main_advertise_id %}										
											{% if ad_details.language_id == language.language_master_id %}
												
												{% set advertise_name = ad_details.advertise_name %}
												{% set image = ad_details.media_url %}
												{% set status = ad_details.status %}
												{% set sort_order = ad_details.sort_order %}
												{% set advertisement_link = ad_details.advertisement_link %}
												{% set advertise_type = ad_details.advertise_type %}
												{% set start_date = ad_details.start_date | date('d-m-Y') %}
												{% set end_date = ad_details.end_date | date('d-m-Y') %}
			
											{% endif %}
										{% endfor %}
									{% endif %}
									
									<form id="form-{{ language.language_master_id }}" class="form-horizontal" method="post" action="{{ action }}" enctype="multipart/form-data">
										
										<input type="hidden" name="main_advertise_id" value="{{ main_advertise_id }}">
										<input type="hidden" name="language_id" value="{{ language.language_master_id }}">
										
										
										<div class="row form-group">
											<div class="col-md-12">
												<div class="col-lg-2">
													<label>Advertise Name</label>
												</div>
												<div class="col-lg-10">
													<input type="text" class="form-control" id="advertise_name{{language.language_master_id}}" name="advertise_name" value="{{advertise_name}}" required>
												</div>
											</div>
										</div>	
									
										<div class="row form-group">
											<div class="col-md-12">
												<div class="col-lg-2">
													<label>Advertise Link</label>
												</div>
												<div class="col-lg-10">
													<input type="text" class="form-control" id="advertisement_link{{language.language_master_id}}" name="advertisement_link" value="{{advertisement_link}}">
												</div>
											</div>
										</div>										
										
										<div class="row form-group">
											<div class="col-md-12">
												<div class="col-lg-2">
													<label>Advertise Image</label>
												</div>
												<div class="col-lg-10">
													<input type="file" name="ad_image" class="form-control" id="img_{{language.language_master_id}}" required="required">
												</div>
											</div>
										</div>
										</br>
										{%if image is defined and image != ''%}	
											<script>
												$('#img_{{language.language_master_id}}').removeAttr('required');
											</script>
											<div class="row col-md-offset-2">
												<a data-fancybox='gallery' href="{{image}}">
													<img src="{{image}}" class="img-responsive img-thumbnail" style="height:100px;width:100px">
												</a>
											</div>	
											</br>
										{%endif%} 
										
										<div class="row form-group">
											<div class="col-md-12">
												<div class="col-lg-2">
													<label>Select Type</label>
												</div>
												<div class="col-lg-10">
													<select name="advertise_type" class="form-control" required>
														{%if advertise_type_ar is defined and advertise_type_ar is not empty %}
															{%for advertise_type_ar in advertise_type_ar%}
																<option value="{{advertise_type_ar}}" {%if advertise_type == advertise_type_ar %} selected{%endif%}>
																	{{(advertise_type_ar | replace({'_':' '})) | capitalize}}
																</option>
															{%endfor%}
														{% endif%}
													</select>
												</div>
											</div>
										</div>
										
										<div class="row form-group">
											<div class="col-md-12">
												<div class="col-lg-2">
													<label>Start Date</label>
												</div>
												<div class="col-lg-4">
													<input type="text" class="form-control date-picker" id="img_{{language.language_master_id}}" value="{{start_date}}" name="start_date" required="required">
												</div>
												<div class="col-lg-2">
													<label>End Date</label>
												</div>
												<div class="col-lg-4">
													<input type="text" class="form-control date-picker" id="img_{{language.language_master_id}}" value="{{end_date}}" name="end_date" required="required">
												</div>												
											</div>
										</div>

										<div class="row form-group">
											<div class="col-md-12">
												<div class="col-lg-2">
													<label>Sort order</label>
												</div>
												<div class="col-lg-4">
													<input type="number" class="form-control" id="img_{{language.language_master_id}}" value="{{sort_order}}" name="sort_order" required="required">
												</div>
												<div class="col-lg-2">
													<label>Status</label>
												</div>
												{%set active_check = ''%}
												{%set inactive_check = ''%}
												{%if status == 'active'%}
													{%set active_check = 'checked'%}
												{%endif%}
												{%if status == 'inactive'%}
													{%set inactive_check = 'checked'%}
												{%endif%}												
												<div class="col-lg-4">
													<label class="radio-inline">
													  <input type="radio" name="status" value="active" {{active_check}}>Active
													</label>
													<label class="radio-inline">
													  <input type="radio" name="status" value="inactive" {{inactive_check}}>Inactive
													</label>
												</div>												
											</div>
										</div>										
										<br><br>
										<div class="row paddTop">
											<div class="col-md-12">
												<div class="col-md-6 btn-sec">
													<button type="submit" name="submit" value="submit" class="btn btn-success" value="{{ language.language_master_id }}">
														<span><i class="fa fa-check-square-o"></i>&nbsp;
														{% if area is defined and area is not empty %}Update{%else%}Save{%endif%}	
														</span>
													</button>
												</div>
											</div>
										</div>
										
									</form>
									
								</div>
							{% endfor %}
							
						</div>
						<!-- end: tab-content -->
							
					{% endif %}
												
					</div>
					
				</div>
			</div>
		</div>
		
	</section>
<!----------- PAGE HEADER : END ----------------------------------------------------------->
<!----------- Main content : START ----------------------------------------------------------->
	
{% endblock %}

{% block js%}
<script src="{{asset('bundles/design/plugins/')}}ckeditor/ckeditor.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/locales/bootstrap-datepicker.ar.min.js"></script>

<script>	
	$(function () {
		$('.editor1cls').each(function(e){
			CKEDITOR.replace( this.id);
		});
		
		$('.date-picker').datepicker();
		
	})
</script>	
{%endblock%}