{% extends "@Admin/Layout/adminlayout.html.twig" %}
{% block content %}
    <section class="content-header">
        <!-------- PAGE TITLE --------------->
        <h1>
            Manage Anano Shop Status
        </h1>
        <!------- BREADCUMB --------------------->
        <ol class="breadcrumb">
            <li><a href="{{path('admin_dashboard_index',{'domain':app.session.get('domain')})}}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        </ol>
    </section>
    <section class="content">
        {% for flashMessage in app.session.flashbag.get('success_msg') %}
            <div class="alert alert-success alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error_msg') %}
            <div class="alert alert-danger alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
            </div>
        {% endfor %}

        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Update Staus</h3>
                        <a href="{{ path('admin_dashboard_index', {'domain': app.session.get('domain')}) }}" class="btn btn-primary btn-flat pull-right">Back</a>						
                    </div>
                    <!-- end: box header -->


                    <div class="box-body">
                        {% if language_list is defined  and language_list is not empty%}
                            <div class="nav-tabs-custom">
                                <ul class="nav nav-tabs">
                                    {% if language_list is defined %}
                                        {% for language in language_list %}
                                            <li class="{% if selected is defined %}{% if selected == language.language_master_id%}active{% endif %}{% else %}{% if loop.index == 1 %}active{% endif %}{% endif %}">
                                                <a href="#lan_{{loop.index}}" data-toggle="tab">{{language.language_name}}</a>
                                            </li>
                                        {% endfor %}
                                    {% endif %}
                                </ul>
                            </div>

                            <!-- tab-content -->
                            <div class="tab-content">
                                {% set main_area_id = 0 %}
                                {% for language in language_list %}
                                    <div role="tabpanel" class="tab-pane {% if loop.index == 1 %}active{% endif %}" id="lan_{{ language.language_master_id }}">

                                        {% set action = path('admin_adminstatus_updatesettings',{'domain':app.session.get('domain')}) %}
                                       
                                        <form id="form-{{ language.language_master_id }}" class="form-horizontal" method="post" action="{{ action }}">
                                           <input type="hidden" name="language_id" value="{{ language.language_master_id }}">


                                            <div class="row form-group">
                                                <div class="col-md-12">
                                                    {%set status = '' %} 
                                                    {% if langWise_data is defined and langWise_data is not empty %}
                                                        {%for langWise in langWise_data %}
                                                            {%if langWise.language_id == language.language_master_id %}
                                                                {%set status = langWise.status %} 
                                                            {%endif%}
                                                        {%endfor%}
                                                    {%endif%}
                                                    <div class="col-lg-2">
                                                        <label>Shop Status</label>
                                                    </div>
                                                    <div class="col-lg-10">
                                                       <div class="radio-inline">
                                                           <input type="radio" name="shop_status" value="busy" {%if status == 'busy' %} checked {%endif%} required />Busy
                                                       </div>
                                                       <div class="radio-inline">
                                                           <input type="radio" name="shop_status" value="free"  {%if status == 'free' %} checked {%endif%} required />Free
                                                       </div>
                                                    </div>
                                                </div>
                                            </div>	

                                            <div class="row form-group">
                                                <div class="col-md-12">
                                                    {%set busytext = '' %} 
                                                    {% if langWise_data is defined and langWise_data is not empty %}
                                                        {%for langWise in langWise_data %}
                                                            {%if langWise.language_id == language.language_master_id %}
                                                                {%set busytext = langWise.busy_text %} 
                                                            {%endif%}
                                                        {%endfor%}
                                                    {%endif%}
                                                    <div class="col-lg-2">
                                                        <label>Busy Text</label>
                                                    </div>
                                                    <div class="col-lg-10">
                                                        <textarea class="form-control" name="busy_text" placeholder="Enter Busy Text , Will appear in App when Shop is Busy" required >{{busytext}}</textarea>
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="row paddTop">
                                                <div class="col-md-12">
                                                    <div class="col-md-6">
                                                        <button type="submit" name="submit" value="submit" class="btn btn-primary" value="{{ language.language_master_id }}">
                                                            <span><i class="fa fa-check-square-o"></i>&nbsp;
                                                                {% if area is defined and area is not empty %}Update{%else%}Save{%endif%}	
                                                            </span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>

                                        </form>

                                    </div>
                                {% endfor %}

                            </div>
                            <!-- end: tab-content -->

                        {% endif %}

                    </div>

                </div>
            </div>
        </div>

    </section>
    <!----------- PAGE HEADER : END ----------------------------------------------------------->
    <!----------- Main content : START ----------------------------------------------------------->

{% endblock %}

{% block js%}
    <script src="{{asset('bundles/design/plugins/')}}ckeditor/ckeditor.js"></script>

    <script>
        $(function () {
            $('.editor1cls').each(function (e) {
                CKEDITOR.replace(this.id);
            });
        })
    </script>	
{%endblock%}