{% extends "@Admin/Layout/adminlayout.html.twig" %}
{% block content %}
	<section class="content-header">
	<!-------- PAGE TITLE --------------->
		<h1>
		  Area Listing
		  <small></small>
		</h1>
	<!------- BREADCUMB --------------------->
		<ol class="breadcrumb">
		  <li><a href="{{path('admin_dashboard_index',{'domain':app.session.get('domain')})}}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
		</ol>
	</section>
	<section class="content">
		{% for flashMessage in app.session.flashbag.get('success_msg') %}
            <div class="alert alert-success alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error_msg') %}
            <div class="alert alert-danger alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
            </div>
        {% endfor %}
		
		<div class="row">
			<div class="col-md-12">
				<div class="box box-primary">
					
					<!-- box header -->
					<div class="box-header with-border">
                        <h3 class="box-title">Area</h3>
                        <a href="{{ path('admin_area_addarea', {'domain': app.session.get('domain')}) }}" class="btn btn-primary btn-flat pull-right"><i class="glyphicon glyphicon-plus"></i><b>&nbsp;&nbsp;Add Area</b></a>
                    </div>
					<!-- end: box header -->
					
					<div class="box-body">
						<table id="datatable" class="table display table-striped table-bordered scroll-horizontal">
							<thead>
								<th>No</th>
								{% if language_list is defined and language_list is not empty %}
									{% for language in language_list %}
										<th>Name : {{ language.language_name }}</th>
									{% endfor %}
								{% endif %}
								<th>Delivery Charge</th>
								<th>Status</th>
								<th hidden></th>
								<th>Operation</th>								
							</thead>
							<tbody>
								{% if area_list is defined and area_list is not empty %}
									{% for area in area_list %}
										<tr>
											<td>{{ loop.index }}</td>
											
											{% if language_list is defined and language_list is not empty %}
												{% set lan_index = 0 %}
													{% for language in language_list %}
														<td>
														{% if area.lang_array is defined and area.lang_array is not empty %}
															
															{% if area.lang_array[lan_index] is defined and area.lang_array[lan_index].language_id == language.language_master_id %}
																{{ area.lang_array[lan_index].area_name }}
															{% endif %}
														{% endif %}
														{% set lan_index = lan_index+1 %}
														</td>
													{% endfor %}
											{% endif %}
											<td>{{ area.delivery_charge }}</td>
											<td>
										
												{% set checked = ''%}
												{% if area.status == 'active'%}
													{% set checked = 'checked'%}
												{%endif%}
												<input data-on="active" class="status status_1" data-off="inactive" onchange="change_status({{area.main_area_id}},$(this).is(':checked'))" type="checkbox" data-toggle="toggle" data-size="mini" data-onstyle="success" {{checked}}/>
												
											</td>
											<td hidden>{{area.city_id}}</td>
											<td>
												<a onclick="return confirm('Are you sure want to edit ?');" href="{{ path('admin_area_addarea', {'domain': app.session.get('domain'),'main_area_id':area.main_area_id}) }}" class="btn btn-xs btn-primary "><i class="fa fa-pencil" data-toggle="tooltip" data-title="Edit Area"></i></a>
																								
												<a class="btn btn-xs btn-danger" onclick="return confirm('Are you sure want to delete ?');" href="{{path('admin_area_deletearea',{'domain':app.session.get('domain'),'main_area_id':area.main_area_id})}}" data-toggle="tooltip" data-title="Delete Area"><i class="fa fa-trash"></i></a>											
											
											</td>
										</tr>
									{% endfor %}
								{% endif %}
							</tbody>
							<tfoot>
								<th>No</th>
								{% if language_list is defined and language_list is not empty %}
									{% for language in language_list %}
										<th>Name : {{ language.language_name }}</th>
									{% endfor %}
								{% endif %}
								<th>Delivery Charge</th>								
								<th>Status</th>
								<th hidden></th>
								<th>Operation</th>
							</tfoot>
						</table>
					</div>
					
				</div>
			</div>
		</div>
		
	</section>
<!----------- PAGE HEADER : END ----------------------------------------------------------->
<!----------- Main content : START ----------------------------------------------------------->
	
{% endblock %}

{% block js %}
  <script>
  
	function change_status(main_area_id,status){
		$.ajax({
			url : "{{path('admin_area_changeareastatus',{domain:app.session.get('domain')})}}",
			method : "POST",
			data : {'main_area_id':main_area_id,'status':status},
			success : function(data){
				console.log('done');
			}
		});
	}
	
	
    $(document).ready(function() {
      var dtable = $('#datatable').DataTable();
	  
    });
  </script>
{% endblock %}
