{% extends "@Admin/Layout/adminlayout.html.twig" %}
{% block css %}
<link href="{{asset('bundles/design/plugins/')}}select2/select2.min.css" rel="stylesheet" type="text/css" />
<style>
.select2-selection__choice{
	color: #000 !important;
}
</style>
{% endblock %}
{% block content %}
	<section class="content-header">
	<!-------- PAGE TITLE --------------->
		<h1>
		  Add User Video
		  <small></small>
		</h1>
	<!------- BREADCUMB --------------------->
		<ol class="breadcrumb">
		  <li><a href="{{path('admin_dashboard_index',{'domain':app.session.get('domain')})}}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
		</ol>
	</section>
	<section class="content">
		{% for flashMessage in app.session.flashbag.get('success_msg') %}
            <div class="alert alert-success alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error_msg') %}
            <div class="alert alert-danger alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
            </div>
        {% endfor %}
		
		<div class="row">
			<div class="col-md-12">
				<div class="box box-primary">
					
					<!-- box header -->
					<div class="box-header with-border">
                        <h3 class="box-title">Add / Update User Video</h3>
                    </div>
					<!-- end: box header -->
					
												
					<div class="box-body">
					{% if language_list is defined  and language_list is not empty%}
						<div class="nav-tabs-custom">
                            <ul class="nav nav-tabs">
                                {% if language_list is defined %}
                                   {% for language in language_list %}
                                        <li class="{% if selected is defined %}{% if selected == language.language_master_id%}active{% endif %}{% else %}{% if loop.index == 1 %}active{% endif %}{% endif %}">
                                            <a href="#lan_{{language.language_master_id}}" data-toggle="tab">{{language.language_name}}</a>
                                        </li>
                                    {% endfor %}
                                {% endif %}
                            </ul>
                        </div>
						
						<!-- tab-content -->
						<div class="tab-content">
						{% set main_video_master_id = 0 %}
						
						{% set media_type = 'video' %}
						{% set package_id = 0 %}
						{% set video_category_id = 0 %}
						{% set video_url = '' %}
						{% set title = '' %}

							{% for language in language_list %} 
								<div role="tabpanel" class="tab-pane {%if loop.first == true %}active{%endif%}" id="lan_{{language.language_master_id}}">
									
									{% set action = path('admin_uservideo_saveuservideo') %}
									{% set img_url = '' %}
									{% if video_master is defined and video_master is not empty %}
										{% for video_master in video_master %}
											{%if video_master.language_id  == language.language_master_id %}
												{% set main_video_master_id = video_master.main_video_master_id %}
												{% set img_url = video_master.media_url %}
												{% set video_category_id = video_master.video_category %}
												{% set video_url = video_master.thumb_url %}
												{% set title = video_master.title %}
												{% set package_id = video_master.main_package_id %}
											{%endif%}
										{% endfor %}
									{% endif %}
									<form  class="form-horizontal" method="post" action="{{ action }}" enctype="multipart/form-data">
										
										<input type="hidden" name="main_video_master_id" value="{{ main_video_master_id }}">
										<input type="hidden" name="language_id" value="{{ language.language_master_id }}">
										<input type="hidden" name="main_package_master_id" value="0">
										<input type="hidden" name="user_id" value="{{user_id}}">
										</br>
										<div class="row">
											<div class="col-md-12">
												<div class="col-md-2">
													<label>Select Package</label>
												</div>
												<div class="col-md-10">
													<select multiple name="main_package_master_id[]" class="form-control pk-multi-select" required>
														<option value="">Select Package</option>
														{% if main_packages is defined and main_packages is not empty %}
															{%for main_packages in main_packages%}
																{% if main_packages.language_id == language.language_master_id %}
																	<option value="{{main_packages.main_package_master_id}}" {%if main_packages.main_package_master_id in pk_selected %} selected{%endif%}>
																		{{main_packages.package_name}}				
																	</option>
																{%endif%}	
															{%endfor%}
														{% endif%}
													</select>
												</div>
											</div>
											
										</div>
{#										
										<div class="row">
											<div class="col-md-12">
												<div class="col-md-2">
													<label>Select Users</label>
												</div>
												<div class="col-md-10">
													<select class="user-multi-select form-control" name="user_selected[]" multiple="multiple">
														<option value="">Select Users</option>
														{% if users is defined and users is not empty %}
															{%for users in users%}
																	<option value="{{users.user_master_id}}" {% if user_id is defined and user_id == users.user_master_id %} selected {% endif  %}  {% if users.user_master_id in user_selected %} selected {% endif %}>
																		{{users.user_firstname}}				
																	</option>
															
															{%endfor%}
														{% endif%}
													</select>
												</div>
											</div>
											
										</div>
#}
										</br>	
										<div class="row">
											<div class="col-md-12">
												<div class="col-md-2">
													<label>Video Title </br></label>
												</div>
												<div class="col-md-10">
													<input type='text' class="form-control" name="title" value="{{title}}" required="required"/>
												</div>
											</div>
										</div>
										</br>

										<div class="row">
											<div class="col-md-12">
												<div class="col-md-2">
													<label>Select Video  Category</label>
												</div>
												<div class="col-md-10">
													<select name="video_category" class="form-control" required>
														<option value="">Select Video Category</option>
														{% if video_category is defined and video_category is not empty %}
															{%for video_category in video_category %}
																<option value="{{video_category.main_user_video_category_master_id }}" {%if video_category.main_user_video_category_master_id == video_category_id %} selected{%endif%}>
																	{{video_category.lang_wise}}				
																</option>
															{%endfor%}
														{% endif%}
													</select>
												</div>
											</div>
											
										</div>
										</br>
										{# <div class="row">
											<div class="col-md-12">
												<div class="col-md-2">
													<label>Select An Option</br></label>
												</div>
												<div class="col-md-10">
													<input id="s_uploaded" type="radio" name="select_option">
													<label for="s_uploaded">Select from Uploaded</label>&nbsp;&nbsp;&nbsp;
													<input id="upload_new" type="radio" name="select_option">
													<label for="upload_new">Upload New Video</label>
												</div>
											</div>
										</div>
										</br> #}

										<div class="row">
											<div class="col-md-12">
												<div class="col-md-2">
													<label>Upload Video </br></label>
												</div>
												<div class="col-md-10">
													<input type='file' accept=".mp4,.mov,.3gp" class="form-control goal_img{{language.language_master_id}}" name="gallery" required="required"/>
												</div>
											</div>
										</div>
										</br>
										
										{%if img_url is defined and img_url != ''%}
												
											<script>
												$('.goal_img{{language.language_master_id}}').removeAttr('required');
											</script>
											<div class="row col-md-offset-2">
											<b>Type : {{media_type | capitalize}}</b></br>	
												<a data-fancybox='gallery' href="{{img_url}}">			
													{%if media_type == 'img'%}
														<img src="{{img_url}}" style="height:100px;width:100px" class="img-responsive img-thumbnail"/>
													{%endif%}
													
													{%if media_type == 'video'%}
													
														<video width="100px" height="100px">
														  <source src="{{img_url}}" type="video/mp4">
														  <source src="{{img_url}}" type="video/ogg">
														Your browser does not support the video tag.
														</video>
													{%endif%}
												</a>	
											</div>	
											
										{%endif%}
										<div class="row">
											<div class="col-md-12">
												<div class="col-md-2">
													<label>Upload Thumb Image </br></label>
												</div>
												<div class="col-md-10">
													<input type='file' accept=".mp4,.mov,.3gp" class="form-control thumb_img{{language.language_master_id}}" name="thumb_image" required="required"/>
												</div>
											</div>
										</div>										
										</br>
										{%if video_url is defined and video_url != ''%}
												
											<script>
												$('.thumb_img{{language.language_master_id}}').removeAttr('required');
											</script>
											<div class="row col-md-offset-2">
											<b>Type : Image</b></br>	
												<a data-fancybox='gallery' href="{{video_url}}">			
													
													<img src="{{video_url}}" style="height:100px;width:100px" class="img-responsive img-thumbnail"/>
												</a>	
											</div>	
											
										{%endif%}
										</br>
										<div class="row paddTop">
											<div class="col-md-12">
												<div class="col-md-6">
													<button type="submit" name="submit" class="btn btn-primary" value="submit">
														<span><i class="fa fa-check-square-o"></i>&nbsp;
														{% if gallery is defined and gallery is not empty %}Update{%else%}Save{%endif%}	
														</span>
													</button>
												</div>
											</div>
										</div>
										
									</form>
									
								</div>
							{% endfor %}
							
						</div>
						<!-- end: tab-content -->
							
					{% endif %}
												
					</div>
					
				</div>
			</div>
		</div>
		
	</section>
<!----------- PAGE HEADER : END ----------------------------------------------------------->
<!----------- Main content : START ----------------------------------------------------------->
	
{% endblock %}

{% block js%}
<script src="{{asset('bundles/design/plugins/')}}ckeditor/ckeditor.js"></script>
<script src="{{asset('bundles/design/plugins/')}}select2/select2.min.js"></script>

<script>	
	$(function () {
		$('.editor1cls').each(function(e){
			CKEDITOR.replace( this.id);
		});
	});
	
	$(document).ready(function(){

		$('[data-fancybox="gallery"]').fancybox({
			// Options will go here
		});

		$('.user-multi-select').select2();
		$('.pk-multi-select').select2();
	
	});	
	
</script>	
{% endblock %}