{% extends "@Admin/Layout/adminlayout.html.twig" %}
{% block content %}
    <section class="content-header">
    <!-------- PAGE TITLE --------------->
        <h1>
         Tutorial Video Listing
        </h1>
    <!------- BREADCUMB --------------------->
        <ol class="breadcrumb">
          <li><a href="{{path('admin_dashboard_index',{'domain':app.session.get('domain')})}}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        </ol>
    </section>
    <section class="content">
        {% for flashMessage in app.session.flashbag.get('success_msg') %}
            <div class="alert alert-success alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error_msg') %}
            <div class="alert alert-danger alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
            </div>
        {% endfor %}
        
    <div class="row">
      <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">User Video</h3>

                {% if user_id is defined and user_id != 0 %}
                    {% set action_link = path('admin_uservideo_addtutorialvideo',{'video_id':0,'user_id':user_id}) %}
                {% else %}
                    {% set action_link = path('admin_uservideo_addtutorialvideo') %}
                {% endif %}
                <a href="{{ action_link }}" class="btn btn-primary btn-flat pull-right"><i class="glyphicon glyphicon-plus"></i><b>&nbsp;&nbsp;Add Tutorial Video </b></a>
            </div>
          <div class="box-body table-responsive">
            <table id="list" class="table display table-striped table-bordered scroll-horizontal">
              <thead>
                <th>No</th>
                <th>Title</th>
                <th>Video Id</th>
                <th>Video Link</th>
                <th>Operation</th>
              </thead>
              <tbody>
                {%if videoList is defined and videoList is not empty%}
                    {%for videoList in videoList%}
                        <tr>
                            <td>{{loop.index}}</td>
                             <td>{{videoList.video_title}}</td>
                            <td>{{videoList.video_id}}</td>
                           <td>
                                <a data-fancybox='gallery' href="{{videoList.video_link}}">                                    
                                     Video Link<video width="50px" height="50px">
                                      <source src="{{videoList.video_link}}" type="video/mp4">
                                     
                                    Your browser does not support the video tag.
                                    </video>
                                </a>    
                                
                                                     
                            <td>
                                <a href="{{path('admin_uservideo_addtutorialvideo',{'video_id':videoList.video_tutorial_id})}}" class="btn btn-xs btn-primary "><i class="fa fa-pencil"></i></a>
                                <a href="{{path('admin_uservideo_deletetutorialvideo',{'video_id':videoList.video_tutorial_id})}}" class="btn btn-xs btn-danger" onclick="return confirm('Are you sure want to delete ? ')"><i class="fa fa-trash"></i></a>                               
                            </td>
                        </tr>
                    {%endfor%}
                {%endif%}
              </tbody>
              <tfoot>
                <th>No</th>
                <th>Title</th>
                <th>Video Id</th>
                <th>Video Link</th>
                <th>Operation</th>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
    
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Specify Video Title For User</h4>
      </div>
      <div class="modal-body">
        <input type="text" class="form-control" id="video_day"/>
      </div>
      <div class="modal-footer">
        <button type="button" id="btn_day" class="btn btn-default">Add</button>
      </div>
    </div>

  </div>
</div>      
    </section>
<!----------- PAGE HEADER : END ----------------------------------------------------------->
<!----------- Main content : START ----------------------------------------------------------->
    
{% endblock %}

{% block js %}
  <script>
    
    var user_id_global = 0;
    var video_id_global = 0;
    var btn_element_global ;
    function assign_video(user_id,video_id,btn_element,e){
        e.preventDefault();
        user_id_global = user_id;
        video_id_global = video_id;
        btn_element_global = btn_element;
        
        if(btn_element_global.hasClass('btn-danger')){
        
            $('#video_day').val('');
            $('#myModal').modal('show');        
        
        }else{
        
            if(confirm('Are you sure want to remove video from user List ?')){
            
                //call ajax not assigned
                
                change_assign(user_id_global,video_id_global,$('#video_day').val(),'remove');               
            
            }
            
            
        }
    }
    
    $('#btn_day').click(function(){
        if($('#video_day').val() != 0){
            if(btn_element_global.hasClass('btn-danger')){
            
                //call ajaxx for assign
                change_assign(user_id_global,video_id_global,$('#video_day').val(),'assign');
                
                $('#myModal').modal('hide');
            }
            
        }else{
            alert("Please mention Day");
        }
    });
    
    function change_assign(user_id,video_id,day = 0,operation='assign'){
        $.ajax({
            url : "{{path('admin_uservideo_assignvideo')}}",
            method : "POST",
            data : {'user_id':user_id,'video_id':video_id,'day':day,'operation':operation},
            success : function(data){
                if(operation == 'assign'){
                    btn_element_global.removeClass('btn-danger').addClass('btn-success');
                    btn_element_global.text('Assigned');
                    $('#day_label_'+video_id).show();
                    $('#day_label_'+video_id).text('Title : '+day);
                }
                if(operation == 'remove'){
                
                    btn_element_global.removeClass('btn-success').addClass('btn-danger');
                    btn_element_global.text('Not Assigned');
                    $('#day_label_'+video_id).hide();   
                }
                
                user_id_global = 0;
                video_id_global = 0;                                        
                $('#video_day').val(0);
            },
            error : function (){
                alert('Something went wrong');
                return false;
            }
        });
    }
    
    $(document).ready(function() {
      $('#list').DataTable();
    });
    
    $(document).ready(function(){

        $('[data-fancybox="gallery"]').fancybox({
            // Options will go here
        });
    
    }); 
    
  </script>
{% endblock %}
