{% extends "@Admin/Layout/adminlayout.html.twig" %}
{% block content %}
	<section class="content-header">
	<!-------- PAGE TITLE --------------->
		<h1>
		  Add Weight
		  <small></small>
		</h1>
	<!------- BREADCUMB --------------------->
		<ol class="breadcrumb">
		  <li><a href="{{path('admin_dashboard_index',{'domain':app.session.get('domain')})}}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
		</ol>
	</section>
	<section class="content">
		{% for flashMessage in app.session.flashbag.get('success_msg') %}
            <div class="alert alert-success alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error_msg') %}
            <div class="alert alert-danger alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
            </div>
        {% endfor %}
		
		<div class="row">
			<div class="col-md-12">
				<div class="box box-primary">
					
					<!-- box header -->
					<div class="box-header with-border">
                        <h3 class="box-title">Add / Update Weight</h3>
                    </div>
					<!-- end: box header -->
					
												
					<div class="box-body">
					{% if language_list is defined  and language_list is not empty%}
						<div class="nav-tabs-custom">
                            <ul class="nav nav-tabs">
                                {% if language_list is defined %}
                                   {% for language in language_list %}
                                        <li class="{% if selected is defined %}{% if selected == language.language_master_id%}active{% endif %}{% else %}{% if loop.index == 1 %}active{% endif %}{% endif %}">
                                            <a href="#lan_{{loop.index}}" data-toggle="tab">{{language.language_name}}</a>
                                        </li>
                                    {% endfor %}
                                {% endif %}
                            </ul>
                        </div>
						
						<!-- tab-content -->
						<div class="tab-content">
						{% set main_reason_id = 0 %}
						{% set reason_name = 0 %}
						{% set package_snakes = '' %}
						{% set price_starting_from = '' %}
						{% set sub_packages = null %}

							{% for language in language_list %}
								<div role="tabpanel" class="tab-pane {% if loop.index == 1 %}active{% endif %}" id="lan_{{ language.language_master_id }}">
									
									{% set action = path('admin_weight_saveweight') %}
									{% set reason = '' %}
									
									{% if main_reason is defined and main_reason is not empty %}
										
										{% for main_reason in main_reason %}
											{% if main_reason.language_id == language.language_master_id %}
												
												{% set main_reason_id = main_reason.main_weight_id %}
												{% set reason = main_reason.weight %}
											{% endif %}
										{% endfor %}
									{% endif %}
									
									<form id="form-{{ language.language_master_id }}" class="form-horizontal" method="post" action="{{ action }}" enctype="multipart/form-data">
										
										<input type="hidden" name="main_weight_id" value="{{ main_reason_id }}">
										<input type="hidden" name="language_id" value="{{ language.language_master_id }}">
										
										<div class="row">
											<div class="col-md-12">
												<div class="col-md-2">
													<label>Weight</label>
												</div>
												<div class="col-md-10">
													<input class="form-control" name="weight" value="{{reason}}" />
												</div>
											</div>
											
										</div>
										
										</br>											
										
										<div class="row paddTop">
											<div class="col-md-12">
												<div class="col-md-6">
													<button type="submit" name="submit" class="btn btn-primary" value="{{ language.language_master_id }}">
														<span><i class="fa fa-check-square-o"></i>&nbsp;
														{% if main_reason is defined and main_reason is not empty %}Update{%else%}Save{%endif%}	
														</span>
													</button>
												</div>
											</div>
										</div>
										
									</form>
									
								</div>
							{% endfor %}
							
						</div>
						<!-- end: tab-content -->
							
					{% endif %}
												
					</div>
					
				</div>
			</div>
		</div>
		
	</section>
<!----------- PAGE HEADER : END ----------------------------------------------------------->
<!----------- Main content : START ----------------------------------------------------------->
	
{% endblock %}

{% block js%}
<script src="{{asset('bundles/design/plugins/')}}ckeditor/ckeditor.js"></script>

<script>

	function remove_combo(element){

		if (element.parents('div').siblings(".first_one").length > 1 ){
			var elemnt_first = element.parents('div').prev(".first_one:last");
			elemnt_first.remove();
		}

		if (element.parents('div').siblings(".first_one").length == 1 ){
			$('#remove_combo_btn').hide();
		}
	}
	
	function add_combo(element){
		var elemnt_last ;
		if($(".first_one").length > 1 ){
			$('#remove_combo_btn').show();
		}else{
			$('#remove_combo_btn').hide();
		}
		console.log(element.parents('div').prev(".first_one:last").html());

		element.parents('div').siblings(".first_one:last").clone().insertAfter(element.parents('div').siblings(".first_one:last")).find("input[type='number']").val("");
		
/*		elemnt_last = element.parents('div').prev(".first_one");
		console.log(elemnt_last.html());
		var html = element.parents('div').prev(".first_one").html(); 
		html = "<div class='col-md-12 first_one form-group'>"+html+"</div>"
		
		elemnt_last.after(html).find("input[type='number']").val("");
		//.find("input[type='number']").val("") */
	}
	
	$(function () {

		if($('.first_one').length <= 2 ){
			$('#remove_combo_btn').hide();
		}
		
		$('.editor1cls').each(function(e){
			CKEDITOR.replace( this.id);
		});
	});
	
	$(document).ready(function(){

		$('[data-fancybox="gallery"]').fancybox({
			// Options will go here
		});
	
	});	
	
</script>	
{% endblock %}