{% extends "@Admin/Layout/adminlayout.html.twig" %}
{% block content %}
	<section class="content-header">
	<!-------- PAGE TITLE --------------->
		<h1>
		  Add Package
		  <small></small>
		</h1>
	<!------- BREADCUMB --------------------->
		<ol class="breadcrumb">
		  <li><a href="{{path('admin_dashboard_index',{'domain':app.session.get('domain')})}}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
		</ol>
	</section>
	<section class="content">
		{% for flashMessage in app.session.flashbag.get('success_msg') %}
            <div class="alert alert-success alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error_msg') %}
            <div class="alert alert-danger alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
            </div>
        {% endfor %}
		
		<div class="row">
			<div class="col-md-12">
				<div class="box box-primary">
					
					<!-- box header -->
					<div class="box-header with-border">
                        <h3 class="box-title">Add / Update Package</h3>
                    </div>
					<!-- end: box header -->
					
												
					<div class="box-body">
					{% if language_list is defined  and language_list is not empty%}
						<div class="nav-tabs-custom">
                            <ul class="nav nav-tabs">
                                {% if language_list is defined %}
                                   {% for language in language_list %}
                                        <li class="{% if selected is defined %}{% if selected == language.language_master_id%}active{% endif %}{% else %}{% if loop.index == 1 %}active{% endif %}{% endif %}">
                                            <a href="#lan_{{loop.index}}" data-toggle="tab">{{language.language_name}}</a>
                                        </li>
                                    {% endfor %}
                                {% endif %}
                            </ul>
                        </div>
						
						<!-- tab-content -->
						<div class="tab-content">
						{% set main_package_master_id = 0 %}
						{% set package_meals = 0 %}
						{% set sort_order = 0 %}
						{% set package_snakes = '' %}
						{% set loyality_point = '' %}
						{% set price_starting_from = '' %}
						{% set sub_packages = null %}
						{% set img = '' %}

							{% for language in language_list %}
								<div role="tabpanel" class="tab-pane {% if loop.index == 1 %}active{% endif %}" id="lan_{{ language.language_master_id }}">
									
									{% set action = path('admin_package_savepackage') %}
									{% set package_name = '' %}
									{% set description = '' %}
									
									{% if main_package is defined and main_package is not empty %}
										
										
										{% for main_package in main_package %}
										{%set img = main_package.img_url%}
										
										{% set main_package_master_id = main_package.main_package_master_id %}
										
											{% if main_package.language_id == language.language_master_id %}
												
												
												{% set package_meals = main_package.package_meals %}
												{% set package_snakes = main_package.package_snakes %}
												{% set price_starting_from = main_package.price_starting_from %}
												{% set package_name = main_package.package_name %}
												{% set sub_packages = main_package.sub_package %}
												{% set description = main_package.description %}
												{% set sort_order = main_package.sort_order %}
												{% set loyality_point = main_package.loyality_point%}
											{% endif %}
										{% endfor %}
									{% endif %}
									
									<form id="form-{{ language.language_master_id }}" class="form-horizontal" method="post" action="{{ action }}" enctype="multipart/form-data">
										
										<input type="hidden" name="main_package_master_id" value="{{ main_package_master_id }}">
										<input type="hidden" name="language_id" value="{{ language.language_master_id }}">
										
										<div class="row">
											<div class="col-md-12">
												<div class="col-md-2">
													<label>Package Name</label>
												</div>
												<div class="col-md-10">
													<input class="form-control" name="package_name" value="{{package_name}}" />
												</div>
											</div>
											
										</div>
										</br>	
										<div class="row">
											<div class="col-md-12">
												<div class="col-md-2">
													<label>Package Description</label>
												</div>
												<div class="col-md-10">
													<textarea id="editor1" class="ckeditor" name="description">{{ description }}</textarea>
												</div>
											</div>
											
										</div>
										
										</br>											
										<div class="row">
											<div class="col-md-12">
												<div class="col-md-2">
													<label>Package Meal</label>
												</div>
												<div class="col-md-4">
													<input type="number" class="form-control" name="package_meals" value="{{package_meals}}" />
												</div>
												<div class="col-md-2">
													<label>Package Snakes</label>
												</div>
												<div class="col-md-4">
													<input type="number" class="form-control" name="package_snakes" value="{{package_snakes}}" />
												</div>
											</div>
											
										</div>
										
										</br>
										<div class="row">
											<div class="col-md-12">
												<div class="col-md-2">
													<label>Loyality Point</label>
												</div>
												<div class="col-md-10">
													<input class="form-control" name="point" value="{{loyality_point}}" />
												</div>
											</div>
											
										</div>
										</br>
										<div class="row">
											<div class="col-md-12">
												<div class="col-md-2">
													<label>Priority</label>
												</div>
												<div class="col-md-10">
													<input class="form-control" name="sort_order" value="{{sort_order}}" />
												</div>
											</div>
											
										</div>
										</br>										
										<div class="row">
											<div class="col-md-12">
												<div class="col-md-2">
													<label>Image </br></label>
												</div>
												<div class="col-md-10">
													<input type='file' class="form-control about_img" name="about_img" required="required"/>
												</div>
											</div>
										</div>
										</br>
										{%if img is defined and img != ''%}	
											<script>
												$('.about_img').removeAttr('required');
											</script>
											<div class="row col-md-offset-2">
												<a data-fancybox='gallery' href="{{img}}">
													<img src="{{img}}" class="img-responsive img-thumbnail" style="height:100px;width:100px">
												</a>
											</div>	
											</br>
										{%endif%} 
										
										</br>											
										<div class="row">
											<div class="col-md-12">
												<div class="col-md-2">
													<label>Package Duration</label>
												</div>
												<div class="col-md-8">
												{% if product_for is defined and product_for is not empty%}
													{%for product_for in product_for%}
                                                    {% if product_for.language_id == language.language_master_id %}
														{% set this_check = '' %}
														{% set this_price = '' %}
														
														{%if product_for.package_for_relation_id != null%}
															{% set this_check = 'checked' %}
															{% set this_price = product_for.price_selected %}
															
														{%endif%}
														
														{%if product_for.type == 'package_for'%}
														<div class="col-md-4">
															<label class="checkbox-inline">
															  <input type="checkbox" name="package_for[]" value="{{product_for.main_package_for_master_id}}" {{this_check}}>{{product_for.name}}
															</label>
															<input type="text" name="price[{{product_for.main_package_for_master_id}}]" class="form-control" placeholder="Price" value="{{this_price}}"/>
														</div>
														{%endif%}
                                                        {% endif %}
													{%endfor%}
												{%endif%}	
												</div>
											</div>
											
										</div>
										
										</br>	
                                       {#                                                
										<div class="row">
											<div class="col-md-12">
												<div class="col-md-2">
													<label>Package Consultancy</label>
												</div>
												<div class="col-md-8">
												{% if product_for is defined and product_for is not empty%}
													{%for product_for in product_for%}
                                                    {% if product_for.language_id == language.language_master_id %}
														{% set this_check = '' %}
														{% set this_price = '' %}
														
														{%if product_for.type == 'consultant_fee'%}
														{%if product_for.package_for_relation_id != null%}
															{% set this_check = 'checked' %}
															{% set this_price = product_for.price_selected %}
															
														{%endif%}
														<div class="col-md-4">
															<label class="checkbox-inline">
															  <input type="checkbox" name="package_for[]" value="{{product_for.main_package_for_master_id}}" {{this_check}}>{{product_for.name}}
															</label>
															<input type="text" class="form-control"  name="price[{{product_for.main_package_for_master_id}}]" value="{{this_price}}" placeholder="Price"/>
														</div>
														{%endif%}
                                                        {% endif %}
													{%endfor%}
												{%endif%}	
												</div>
											</div>
											
										</div>
										
										</br>	#}
										<h4>Sub Packages : </h4>	
										<div class="row col-md-offset-1">
											{%if sub_packages is defined and sub_packages is not empty%}
												{%for sub_packages in sub_packages %}
												<div class="first_one">
													<div class="col-md-12 form-group">
														<div class="col-md-1">
															<label>Grams </label>
														</div>
														<div class="col-md-3">
															<input type='number' class="form-control" name="grams[]" value="{{sub_packages.grams}}" required="required"/>
															
														</div>
														<div class="col-md-1">
															<label>Price Monthly</label>
														</div>
														<div class="col-md-2">
															<input type='number' class="form-control" name="price_sub_month[]" value="{{sub_packages.monthly}}" required="required"/>
															
														</div>
														
														<div class="col-md-1">
															<label>Price Weekly</label>
														</div>
														<div class="col-md-2">
															<input type='number' class="form-control" name="price_sub_week[]" value="{{sub_packages.weekly}}" required="required"/>
															
														</div>														
													</div>
												</div>	
												{%endfor%}
											{%else%}
											<div class="first_one">
												<div class="col-md-12 form-group">
													<div class="col-md-1">
														<label>Grams </label>
													</div>
													<div class="col-md-3">
														<input type='number' class="form-control" name="grams[]" required="required"/>
														
													</div>
													<div class="col-md-1">
														<label>Price Monthly</label>
													</div>
													<div class="col-md-2">
														<input type='number' class="form-control" name="price_sub_month[]" value="" required="required"/>
														
													</div>
													<div class="col-md-1">
														<label>Price Weekly</label>
													</div>
													<div class="col-md-2">
														<input type='number' class="form-control" name="price_sub_week[]" value="" required="required"/>
														
													</div>													
												</div>
											</div>		
											{%endif%}
											
											<div class="col-md-12 form-group">
												<a href="javascript:void(0)" id="remove_combo_btn" onclick="remove_combo($(this))" class="pull-right btn btn-sm btn-default">Remove</a>
												<a href="javascript:void(0)" onclick="add_combo($(this))" class="pull-right btn btn-sm btn-primary">Add More</a>
											</div>
										</div>
										</br>											
										
										<div class="row paddTop">
											<div class="col-md-12">
												<div class="col-md-6">
													<button type="submit" name="submit" class="btn btn-primary" value="{{ language.language_master_id }}">
														<span><i class="fa fa-check-square-o"></i>&nbsp;
														{% if about_us is defined and about_us is not empty %}Update{%else%}Save{%endif%}	
														</span>
													</button>
												</div>
											</div>
										</div>
										
									</form>
									
								</div>
							{% endfor %}
							
						</div>
						<!-- end: tab-content -->
							
					{% endif %}
												
					</div>
					
				</div>
			</div>
		</div>
		
	</section>
<!----------- PAGE HEADER : END ----------------------------------------------------------->
<!----------- Main content : START ----------------------------------------------------------->
	
{% endblock %}

{% block js%}
<script src="{{asset('bundles/design/plugins/')}}ckeditor/ckeditor.js"></script>

<script>

	function remove_combo(element){

		if (element.parents('div').siblings(".first_one").length > 1 ){
			var elemnt_first = element.parents('div').prev(".first_one:last");
			elemnt_first.remove();
		}

		if (element.parents('div').siblings(".first_one").length == 1 ){
			$('#remove_combo_btn').hide();
		}
	}
	
	function add_combo(element){
		var elemnt_last ;
		if($(".first_one").length > 1 ){
			$('#remove_combo_btn').show();
		}else{
			$('#remove_combo_btn').hide();
		}
		console.log(element.parents('div').prev(".first_one:last").html());

		element.parents('div').siblings(".first_one:last").clone().insertAfter(element.parents('div').siblings(".first_one:last")).find("input[type='number']").val("");
		
/*		elemnt_last = element.parents('div').prev(".first_one");
		console.log(elemnt_last.html());
		var html = element.parents('div').prev(".first_one").html(); 
		html = "<div class='col-md-12 first_one form-group'>"+html+"</div>"
		
		elemnt_last.after(html).find("input[type='number']").val("");
		//.find("input[type='number']").val("") */
	}
	
	$(function () {

		if($('.first_one').length <= 2 ){
			$('#remove_combo_btn').hide();
		}
		
		$('.editor1cls').each(function(e){
			CKEDITOR.replace( this.id);
		});
	});
	
	$(document).ready(function(){

		$('[data-fancybox="gallery"]').fancybox({
			// Options will go here
		});
	
	});	
	
</script>	
{% endblock %}