<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <!-- jQuery 2.1.4 -->
        <script src="{{asset('bundles/design/')}}js/jQuery-2.1.4.min.js"></script>
        <!-- Bootstrap 3.3.2 JS -->
        <script src="{{asset('bundles/design/')}}js/bootstrap.min.js" type="text/javascript"></script>
        <link rel="stylesheet" type="text/css" media="print" href="{{asset('bundles/design/')}}css/print.css">
    <style>
    body 			{}
	

    @page			{size: 50mm 25mm; margin: 5mm 5mm 5mm 5mm;}
    @page  			{size : landscape;}	

    @media print {

            @page  			{size : landscape;}

            .mainDiv		{width: 70mm; height: 25mm; text-align: center;padding-left: 10px;display: block;}

            .rowA			{margin-bottom: .5rem; font-size: 1.8rem; font-weight: bold; padding-top: 0.4rem; text-align:center;}
            .rowB			{margin-bottom: .5rem; font-size: 1.0rem; font-weight: 600; text-align:center;}
            .rowC			{font-size: 1.1 rem; text-align:center;}
    }
    .no-print, .no-print *
    {
        display: none !important;
    }
}
    </style>
    
    <style type="text/css" media="print">
       {# @page {
            size: A4 portrait;   /* auto is the initial value */
            margin: 0.85cm 0 0.85cm 0;
        }
        .no-print, .no-print *
        {
            display: none !important;
        }
        .paragraphCustom{
            font-size : 16px;
        }#}
    </style>
    
    </head>
    <body>
       <page size="">
            {% set tdcls = '' %}            
            {% if pass_driverStickerArray is defined and pass_driverStickerArray is not empty %}
                {% for pass_driverStickerArray in pass_driverStickerArray %}

                  
                    <div class="mainDiv">
                        <div class="rowA"><strong>{{pass_driverStickerArray.driver_sticker_code1}} </strong></div>
                        <div class="rowB">{{pass_driverStickerArray.driver_sticker_code2}}</div>
                        <div class="rowB">
                           {{pass_driverStickerArray.driver_sticker_code3}}
                        </div>

                </div>



                   
                {% endfor %}
            {% endif %}   
            <div class="row">
                <button class="no-print btn btn-primary btn-block printBtn" onclick="window.print();">Print</button>
            </div>
       </page>
    </body>
</html>